* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    width: 500px;
    background-color: lightgray;
}

.input {
    padding: 8px 15px;
    margin: 10px 0px;
    display: block;
    width: 75%;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}

.numbers-field{
    display: inline-block;
    max-width:50%;
}

.last-button {
    margin-left: 78.99px;
}

.input-button {
    padding: 20px 30px;
    font-size: 20px;
    margin-bottom: 3px;
    border-radius: 10px;
    min-width: 75.99px;
    box-shadow: 5px 5px #888888;
}

.input-button:hover {
    background-color:lightgray;
}


.signs-field{
    max-width: 25%;
    padding-left: 25px;
    display: inline-block;
}


#sumbit-button {
    box-shadow: 5px 5px #888888;
    border-radius: 10px;
    padding: 10px 6px;
    width: 75%;
    margin: 10px 0px
}

#sumbit-button:hover {
    background-color: lightgray;
}
