@model InputViewModel

@{
    ViewData["Title"] = "Calculator";
}

<main class="w-25 d-inline">
    <form asp-controller="Home" asp-action="Calculate" method="post">
    <div class="input-field">
        <input asp-for="@Model.Input" class="input" value="@Model.Sum" aria-required="true" />
    </div>
    <div class="down-field">
        <div class="numbers-field">
            <button type="button" class="input-button" onclick="addNum(1)">1</button>
            <button type="button" class="input-button" onclick="addNum(2)">2</button>
            <button type="button" class="input-button" onclick="addNum(3)">3</button>
            <button type="button" class="input-button" onclick="addNum(4)">4</button>
            <button type="button" class="input-button" onclick="addNum(5)">5</button>
            <button type="button" class="input-button" onclick="addNum(6)">6</button>
            <button type="button" class="input-button" onclick="addNum(7)">7</button>
            <button type="button" class="input-button" onclick="addNum(8)">8</button>
            <button type="button" class="input-button" onclick="addNum(9)">9</button>
            <button type="button" class="input-button last-button" onclick="addNum(9)">0</button>
        </div>
        <div class="signs-field">
            <button type="button" class="input-button" onclick="addNum('+')">+</button>
            <button type="button" class="input-button" onclick="addNum('-')">-</button>
            <button type="button" class="input-button" onclick="addNum('/')">/</button>
            <button type="button" class="input-button" onclick="addNum('X')">X</button>
        </div>
    </div>
        <input id="sumbit-button" type="submit" value="Calculate" />
    </form>
</main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    document.getElementsByClassName("sumbit-button").onclick = function () { document.getElementsByClassName("input").val = @Model.Sum }
    var input = document.querySelector(".input")
    function addNum(num){
        input.value = input.value + num
    }
</script>

